/* Modal Scroll */
.modal-body {
    max-height: 400px;
	max-width: 500px;
    overflow-y: auto;
}

/* Department Div */
.divDept {
    cursor: pointer;
    color: #7e2100;
    border: 2px solid #7e2100;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    background: #dba564;
    font-weight: bold;
}
.divDept:hover {
    transform: scale(1.03);
}

/* Subject Div */
.divSubjects {
    cursor: pointer;
    color: #1c5b00;
    border: 2px solid #1c5b00;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    background: #9bf873;
    font-weight: bold;
}
.divSubjects:hover {
    transform: scale(1.03);
}